<div id="scroll-container" data-scroll-container>
    <div class="main_container" >
        <div class="text-white top_nav">
            <div class="designation_title">
                FrontEnd Developer
                <br>
                Folio / 2024
            </div>
            <div id="date_time" class="date_time">
    
            </div>
            
            <div class="contact">
                <a href="#contact" class="contact_btn">
                    Contact
                </a>
            </div>
        </div>
        <div class="text-white initial_view">
            <h2 class="FrontEnd">
                <span class="letter">
                    F
                </span>
                <span class="letter">
                    R
                </span>
                <span  class="letter">
                    O
                </span>
                <span  class="letter">
                    N
                </span>
                <span  class="letter">
                    T
                </span>
                <!-- <div class="px-5 bar letter">
                    
                </div> -->
                <span class="letter mx-4 bar">
                    ——
                </span>
                <span  class="letter">
                    E
                </span>
                <span  class="letter">
                    N
                </span>
                <span  class="letter">
                    D
                </span>
            </h2>
          
           <h2 class="Developer">
            <span  class="letter">
                D
            </span>
            <span  class="letter">
                E
            </span >
            <span  class="letter">
              V
            </span>
            <span  class="letter">
                E
            </span>
            <span  class="letter">
                L
            </span>
            <span  class="letter">
                O
            </span>
            <span  class="letter">
                P
            </span>
            <span  class="letter">
                E
            </span>
            <span  class="letter">
              R
            </span>
           </h2>
               
           
        </div>
        <div class="initial_view_line">
    
        </div>
        <div class="text-white name_view">
            <h2 class="intro">
                <span class="name_letter">
                   H
                </span>
                <span class="name_letter me-5">
                   I
                </span>
                <span  class="name_letter ms-5 me-5">
                    I
                </span>
                <span  class="name_letter">
                   A
                </span>
                <span  class="name_letter me-5">
                   M
                </span>
                <span  class="name_letter ms-5">
                    S
                </span>
                <span  class="name_letter">
                   I
                </span>
                <span  class="name_letter">
                    V
                </span>
                <span  class="name_letter">
                    A
                </span>
                <span class="name_letter">
                    S
                </span>
                <span class="name_letter">
                    U
                </span>
                <span class="name_letter">
                    B
                </span>
                <span class="name_letter">
                    R
                </span>
                <span class="name_letter">
                    A
                </span>
                <span class="name_letter">
                    M
                </span>
                <span class="name_letter">
                    A
                </span>
                <span class="name_letter">
                    N
                </span>
                <span class="name_letter">
                    I
                </span>
                <span class="name_letter">
                    A
                </span>
                <span class="name_letter">
                   N
                </span>
               
               
            </h2>
          
          
           
               
        </div>
    
        <div class="name_bottom_line line">
        </div>
        <!-- About  -->
         <div class="about_container">
            <div class="about_title">
               
                    About
               
            </div>
            <div id="aboutContent" class="about_content"> 
                I am a frontend developer with experience in building engaging and interactive web applications. I have worked on several projects, collaborating with teams to deliver efficient and creative web solutions.
            </div>
        </div>
        <div class="normal_line"></div>
    
    
        <!-- Skills -->
        <div class="skills_container">
           
            <div class="skills_content container">
                <div class="skills_title">
                    Skills
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="skills">
                            <hr class="normal_line">
                            <div class="skill">
                                HTML
                            </div>
                            <hr class="normal_line">
                            <div class="skill">
                                CSS
                            </div>
                            <hr class="normal_line">

                            <div class="skill">
                                Bootstrap
                            </div>
                            <hr class="normal_line">

                            <div class="skill">
                                JavaScript
                            </div>
                            <hr class="normal_line">
                            <div class="skill">
                                Angular
                            </div>
                            <hr class="normal_line">
                            <div class="skill">
                                GSAP
                            </div>
                            <hr class="normal_line">
                        </div>
                    </div>
                    <div class="col-6">
    
                    </div>
                </div>
                
            </div>
        </div>

        <div class="normal_line">

        </div>
    
        <!-- Contact -->
    
        <div class="marquee collaborate my-4">
            <div class="marquee-content">Got a question, proposal or project or want to work together on something? Feel free to reach out.</div>
        </div>
    
        <div class="normal_line">

        </div>
        <div id="contact">
            <div class="gmail_box">
                <div class="gmail_content">
                    <a href="mailto:subramaniansiva204@gmail.com">
                        subramaniansiva204@gmail.com
                    </a>
                </div>
            </div>
            <div class="text-white bottom_bar">
                <div class="city_name">
                   
                </div>
                <div class="contact_links">
                    <a target="_blank" href="https://www.linkedin.com/in/siva-subramanian-a40975239/" class="contact_btn">
                        LinkedIn
                    </a> 
                    
                </div>
                
                <div class="contact">
                 
                </div>
            </div>
        </div>

        
    </div>
</div>