@import url('../css/font-face.scss ');
@font-face {
    font-family: 'OpenSauceRegular';
    src: url('../fonts/OpenSauceOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSauceRegular';
    src: url('../fonts/OpenSauceOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSauceRegular';
    src: url('../fonts/OpenSauceOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSauceBold';
    src: url('../fonts/OpenSauceOne-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSauceLight';
    src: url('../fonts/OpenSauceOne-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSauceSemiBold';
    src: url('../fonts/OpenSauceOne-Medium.ttf') format('truetype');
}
